/dts-v1/;
/plugin/;

/ {
	compatible = "olimex,a20-olinuxino-lime2",
		     "olimex,a20-olinuxino-lime2-emmc";
	description = "LCD-OLinuXino-7 with digital CTS touchscreen";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			backlight: backlight {
				compatible = "pwm-backlight";
				pwms = <&pwm 0 50000 1>;
				brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
				default-brightness-level = <10>;
			};
		};
	};

	fragment1 {
		target = <&i2c2>;
		__overlay__ {
			gt911@14 {
				compatible = "goodix,gt911";
				reg = <0x14>;

				interrupt-parent = <&pio>;
				interrupts = <7 10 2>;		/* PH10: IRQ_TYPE_EDGE_FALLING */

				irq-gpios = <&pio 7 10 0>;	/* PH10 */
				reset-gpios = <&pio 7 11 0>;	/* PH11: GPIO_ACTIVE_HIGH */

				touchscreen-swapped-x-y;
			};

			panel@50 {
				pinctrl-names = "default";
				pinctrl-0 = <&lcd_rgb888_pins>;
				reg = <0x50>;

				compatible = "olimex,lcd-olinuxino";
				status = "okay";

				enable-gpios = <&pio 7 8 0>;
				backlight = <&backlight>;

				port {
					panel_in_tcon0: endpoint {
						remote-endpoint = <&tcon0_out_panel>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&pwm>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pwm0_pin>;
			status = "okay";
		};
	};

	fragment@3 {
		target = <&pio>;
		__overlay__ {
			lcd_rgb888_pins: lcd-rgb888-pins {
				pins = "PD0", "PD1", "PD2", "PD3", "PD4",
				       "PD5", "PD6", "PD7", "PD8", "PD9",
				       "PD10", "PD11", "PD12", "PD13", "PD14",
				       "PD15", "PD16", "PD17", "PD18", "PD19",
				       "PD20", "PD21", "PD22", "PD23", "PD24",
				       "PD25", "PD26", "PD27";
				function = "lcd0";
			};
		};
	};

	fragment@4 {
		target = <&tcon0_out>;
		__overlay__ {
			tcon0_out_panel: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_in_tcon0>;
			};
		};
	};
};
